
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sacramento&display=swap');

body {
    font-family: Abril Fatface, Lora, Poppins, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(/GITHUB/SCT_WD_2/images/nature-mountain-displays-radiant-colors-sunset-generative-ai.jpg);
    background-size: cover;
    background-position: center;
    margin: 0;
}

.stopwatch-container {
    text-align: center;
   
    backdrop-filter: blur(10px);
    padding: 30px;
    border: 3px solid black;
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 300px; 
}

h1 {
    text-shadow: 2px 2px 1px black;
    color: #c66642;
    font-size: 2.5em;
    margin-bottom: 20px;
}

#display {
    font-size: 2.5em;
    color: #000; 
    margin: 20px 0;
    border: 2px solid #000000; 
    padding: 1px;
    border-radius: 10px;
}

.buttons {
    margin: 20px 0;
}

button {
    font-family: Abril Fatface;
    padding: 5px 15px;
    margin: 5px;
    font-size: 1.2em; 
    cursor: pointer;
    border: 1px solid black;
    border-radius: 5px;
    transition: all 0.3s;
}

button:not(:disabled) {
    background-color: #c66642; 
    color: white; 
}

button:hover:not(:disabled) {
    box-shadow: 1px 1px 6px black;
    background-color: #fff;
    color: #c66642;
}

button:disabled {
    background-color: #ccc;
    color: #909090; 
    cursor: not-allowed;
}

h2 {
    color: #000;
    font-size: 1.5em;
    margin-top: 30px;
}

.lap-list-container {
    height: 150px; 
    overflow-y: auto; 
    border: 1px solid #000; 
    border-radius: 5px;
    padding: 10px;
}

.lap-list-container::-webkit-scrollbar{
    width: 3.5px;
}

.lap-list-container::-webkit-scrollbar-thumb{
    background-color: #c66642;
    border-radius: 10px;
}

.lap-list-container::-webkit-scrollbar-track {
    background-color: #000; 
}

#lapList {
    list-style-type: none; 
    padding: 0;
}

#lapList li {
    background-color: #c66642;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    color: #000; 
    font-size: 1. 1em;
}